#content {
	min-width: @site-width;
	//width: 85%;
	width: 960px;
	margin: 20px auto;


	section {
		border: 1px solid @c1-2;
		background: @w;
		margin-bottom: 10px;
		.border-radius(0px 0px 1px 1px);
	}
	p {
		padding: 5px;
	}

	hr {
		margin: 0;
		border-top: 1px solid @c1-2;
	}

	h2 {
		color: @w;
		font-size: 20px;
		position: relative;
		line-height: 30px;
		height: 30px;
		text-indent:20px;
		.border-radius(9px 9px 0 0);
		.gradient(@c1-3, @c1-2);
		text-indent:20px;
		border: 1px solid @c1-2;
	}

	footer {
		border-top: 1px solid @c1-2;
		.gradient(@c2-4, @c2-3);
		padding: 5px;
		text-align: center;
		clear: both;
	}

	form {
		ul {
			padding: 10px;
		
			li {
				float: left;
				width: 50%;
				margin-bottom: 4px;

				&.max {
					width: 100%;
				}

				p.error-msg {
					margin-top: 4px;
					height: 12px;
					font-size: @font-size - 2;
					width: 260px;
					text-align: right;
					padding: 0;
					color: @success;
				}
				
				&.error {
				
					p.error-msg {
						color: @error;
					}

					label {
						color: @error;
					}

					input {
						.box-shadow(0, 0, 5px, 1px, @error);
					}
				}
				
				&.ajaxing {
					
					p.error-msg {
						color: @warning;
					}
					
				}
			}
		}
		
		label {
			display: block;
		}
		
		label:after {
			content: ":";
		}
		
		.validate-required label:after {
			content: '*:';
		}
		
		.validate-minlength label:after {
			content: '*:';
		}

		input:not([type~="checkbox"]):not([type~="hidden"]) {
			display: block;
			width: 250px;
			margin-top:3px;
		}

		div.error-msg {
			clear: both;
			padding: 5px 0;
			color: @error;
			font-weight: bold;
			text-align: center;
		}
	}
}

.grid1 { width: 100%; }
.grid2 { width: 100%; }
.grid3 { width: 100%; }
.grid4 { width: 100%; }

/* Tiny Mobile - t */
@media (max-width: 300px) {
}

/* Mobile - m */
@media (min-width: 241px) and (max-width: 480px) {
	.grid1 { width: 50%; }
	.grid2 { width: 100%; }
	.grid3 { width: 100%; }
	.grid4 { width: 100%; }
}
/* Smaller - s */
@media (min-width: 481px) and (max-width: 979px) {
	.grid1 { width: 12.5%; }
	.grid2 { width: 25%; }
	.grid3 { width: 50%; }
	.grid4 { width: 100%; }
}
@media (min-width: 980px) {
	.grid1 { width: 25%; }
	.grid2 { width: 50%; }
	.grid3 { width: 75%; }
	.grid4 { width: 100%; }
}