#content {
	width: @site-width-highres;
	margin: 20px auto;


	section {
		border: 1px solid @c1-2;
		background: @w;
		margin-bottom: 10px;
		.border-radius(0px 0px 1px 1px);
	}
	p {
		padding: 5px;
	}

	hr {
		margin: 0;
		border-top: 1px solid @c1-2;
	}

	h2 {
		color: @w;
		font-size: 20px;
		font-weight: 800;
		position: relative;
		line-height: 33px;
		height: 30px;
		text-indent:20px;
		.border-radius(9px 9px 0 0);
		.gradient(@c1-3, @c1-2);
		border: 1px solid @c1-2;
	}
	
	h3 {
		font-size: 18px;
		.gradient(@c3-1, @c3-3);
		padding: 5px 0 5px 10px;
		
		&, a {
			color: @c1-4;
		}
	}
	
	.big {
		text-align: right;
		font-size: 0;
		margin: 2px 0 0 2px;
	
		h4 {
			float: left;
			margin-right: 10px;
			
			&, a {
				font-size: 24px;
				color: @c2-2;
			}
		}
				
		.last-activity {
			float: right;
			display: inline-block;
			width: 240px;
			text-align: center;
			font-size: 12px;
		}
		
		.statistics {
			float: right;
			width: 120px;
			text-align: center;
			font-size: 12px;
			//white-space: nowrap;
			
			span {
				display: block;
			}
		}
		
		li {
			.cell {
				margin: 0px 2px 2px 0;
				padding: 3px;
				background: @background;
			}
		
			width: 50%;
			float: left;

			&:nth-child(even) {
				//border-left: 1px solid @c1-2;
				//border-style: inset;
			}
		}
	}
	
	#captcha {
		overflow: auto;
	}

	footer {
		border-top: 1px solid @c1-2;
		.gradient(@c2-4, @c2-3);
		padding: 5px;
		text-align: center;
		clear: both;
	}

	form {
		ul {
			padding: 10px;
		
			li {
				float: left;
				width: 33%;
				margin-bottom: 4px;
				max-width: 475px;
				
				&.captcha {
					width: 100%;
					max-width: none;
				}

				&.max, &.checkbox {
					clear: left;
					width: 100%;
				}

				&.marginl {
					margin-left: 160px;
				}

				span.error-msg {
					display: block;
					margin-top: 4px;
					height: 12px;
					font-size: @font-size - 2;
					width: 97%;
					text-align: right;
					padding: 0;
					color: @success;
					max-width: 400px;
				}
				
				&.error {
				
					span.error-msg {
						color: @error;
					}

					label {
						color: @error;
					}

					input {
						.box-shadow(0, 0, 5px, 1px, @error);
					}
				}
				
				&.ajaxing {
					
					span.error-msg {
						color: @warning;
					}
					
				}
			}
		}

		div.error-msg {
			clear: both;
			padding: 5px 0;
			color: @error;
			font-weight: bold;
			text-align: center;
		}
	}
	
	@media (max-width: @desktop) {
		& {
			width: @site-width-desktop;
		}
		form {
			ul {
				li {
					width: 50%;
				}
			}
		}
		
		.big {
		
			.last-activity, .statistics { 
				width: 250px;
			}
		
			.statistics {
				clear: right;
				
				.threads:after {
					content: " - ";
				}
				span {
					display: inline;
				}
			}
		}
	}
	

	@media (max-width: @tablet) {
		& {
			width: @site-width-tablet;
		}
		
		.big {
		
			.last-activity, .statistics {
				display: inline;
				text-align: center;
				padding-top: 1px;
				
				span {
					display: inline;
				}
				.threads:after {
					content: " - ";
				}
			}
			
			.statistics {
				//margin-left: 100px;
			}
			
			li {
				width: 100%;
				//padding: 2px 2px 2px 20px;
			}
		}
		
		form {
			ul {
				li {
					width: 50%;
					min-width: none;
				
					&.marginl {
						margin-left: 0;
					}
				
					span.error-msg {
						width: 88%;
					}
				}
			}
		}
	}

	@media (max-width: @mobile) {
		& {
			width: @site-width-phone;
		}
		
		.big {
			h4 {
				display: block;
				float: none;
				text-align: center;
				margin-right: 0px;
			}
			
			.last-activity, .statistics {
				display: block;
				width: 100%;
				float: none;
				text-align: center;
				padding-top: 5px;
				
				span {
					display: inline;
				}
				.threads:after {
					content: " - ";
				}
			}
			
			.statistics {
				margin-left: 0;
			}
			
			li {
				float: none;
			}
		}
		
		form {
			ul {
				padding: 5px;
				
				li {
					&.max {
						text-align: center;
					}
				
					float: none;
					width: auto;
					
					span.error-msg {
						width: 98%;
						max-width: none;
					}
				}
			}
		}
	}
}